{% extends 'base.html' %}
{% block main %}
<div class="container">
  <h1 class="about_as_header">Компания "СтройМастер" в цифрах
  </h1>
  <div class="col-md-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item text_size">Штат компании: более 150 сотрудников, из которых 5 проектировщиков,
        архитекторов-дизайнеров
        и 6 инженеров (руководителей проекта), более 30 строительных бригад под руководством производителей работ
        (прорабов).
      </li>
      <li class="list-group-item text_size">Более 15 объектов в ремонте единовременно, что составляет более 1500 кв.м.
      </li>
      <li class="list-group-item text_size">Более 350 тонн строительных материалов ежемесячно завозится на объекты
        строительства.</li>
      <li class="list-group-item text_size">Около 20 единиц техники ежедневно задействовано для обеспечения
        бесперебойного
        снабжения объектов.</li>
      <li class="list-group-item text_size">Более 1000 кв.м производственных и складских площадей.</li>
    </ul>
  </div>
  <h3 class="about_us_caption">Работаем в
    Москве, Московской области
    и в близлежащих областях уже более 11 лет!</h3>
  <h1 class="about_as_header" style="margin-top: 7rem;">Наши услуги:</h1>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text_size">Ремонт квартир любого уровня сложности
        </li>
        <li class="list-group-item text_size">Ремонт офисов, производственных помещений
        </li>
        <li class="list-group-item text_size">Ремонт загородных коттеджей, дач
          строительства.</li>
        <li class="list-group-item text_size">Строительство загородных домов<span class="badge bg-secondary"
            style="margin-left: 0.6rem;">( по вашему проекту )</span>
        </li>
        <li class="list-group-item text_size">Строительство коттеджей<span class="badge bg-secondary"
            style="margin-left: 0.6rem;">( по вашему проекту )</span></li>
        <li class="list-group-item text_size">Строительство фундамента<span class="badge bg-secondary"
            style="margin-left: 0.6rem;">( по вашему проекту )</span></li>
        <li class="list-group-item text_size">Монтаж систем водоснабжения, канализации, отопления и вентиляции</li>
      </ul>
    </div>
    <div class="col-md-6" style="text-align: center;">
      <h3 class="about_us_caption" style="margin-top: 10rem; margin-bottom: 3rem;">Всегда ждём вашего звонка!</h3>
      <button title="Отправить" data-bs-target="#exampleModalToggle"
      data-bs-toggle="modal" style="width: 50%; border-radius: 3px; background-color: #212121; border-color: #212121; padding: 10px 15px; font-size: 2rem; color: #fefefe; border: none;">
        Хочу консультацию
      </button>
    </div>
  </div>
  <h3 class="about_us_caption">Доверяйте ремонт и строительство
    профессионалам - мы будем рады видеть Вас в числе наших заказчиков!</h3>
  <h1 class="about_as_header">Примеры наших работ:</h1>
</div>
{% endblock %}
{% block info %}{% endblock %}