{% extends 'base.html' %}
{% block main %}
<div class="container">
    {% block breadcrumb %}
    <nav class="breadcr_pages" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="bdc_link" href="{% url 'home' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Контакты</li>
        </ol>
    </nav>
    {% endblock %}
    <div class="row">
        <div class="col-12">
            <h1 class="contact_header">Как нас найти</h1>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <h3 class="contact-caption">Телефоны для связи:</h3>
            <a class="contact_page_link" href="tel:+79163590057">+7 (916) 359 0057</a><br>
            <a class="contact_page_link" href="tel:+79859653630">+7 (985) 965 3630</a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <h3 class="contact-caption">Почта для обращения:</h3>
            <a class="contact_page_link" href="mailto:merkuha.ru@mail.ru">info@stroymaster.ru</a>
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <h3 class="contact-caption">Сервисное обслуживание клиентов:</h3>
            <div class="ml-auto">
                <button class="about_us_button" title="Отправить">Отправить
                    запрос</button>
            </div>
        </div>
        <div class=" col-12 col-sm-6 offset-sm-0 col-lg-4 offset-lg-4">
            <h3 class="contact-caption">
                <a class="bdc_link" href="{% url 'vacancies' %}">Трудоустройство:</a>
            </h3>
            <a class="contact_page_link" href="mailto:merkuha.ru@mail.ru">merkuha.ru@mail.ru</a><br>
            <a class="contact_page_link" href="tel:+79163590057">+7 (985) 965 3630</a>
        </div>
        <div class="col-12">
            <h1 class="contact_header">Наши реквизиты</h3>
                <p class="text_before_form">С помощью формы обратной связи вы можете заказать
                    строительные услуги нашей компании, задать вопрос и получить консультацию специалистов. Для этого
                    достаточно заполнить поля формы и нажать кнопку «Отправить запрос».</p>
        </div>
        <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 mt-5">
            <div class="card text-center">
                <div class="card-header py-4 form_header">
                    Форма обатной связи
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="about_us_button" title="Отправить">Отправить
                            запрос</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    Политика конфеденциальности
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block info %}{% endblock %}