{% extends "base.html" %}
{% block main %}
<main class="houses">
  <div class="container">
    {% block breadcrumb %}
    <div class="container">
      <nav class="breadcr_pages" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="bdc_link" href="{% url 'home' %}">Главная</a></li>
          <li class="breadcrumb-item active" aria-current="page">Дома под ключ</li>
        </ol>
      </nav>
    </div>
    {% endblock %}
    <h1 class="contact_header">Проекты домов</h1>
    <div class="row">
      {% for item in work_houses %}
      <div class="col-12 col-sm-6 col-lg-4 mt-5 px-0">
        <a class="content_link_h" href="{{ item.get_absolute_url }}">
          <div class="house_category">
            <img src="{{ item.photo.url }}" class="house_img" alt="...">           
            <h5 class="house_title">{{ item.title }}</h5>
            <p class="house_price">{{ item.price }}</p>
            <p class="house_price">{{ item.size }}</p>
            <p class="house_price">{{ item.floors }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <h3 class="title_page">{{ project_text }}</h3>
  </div>
</main>
{% endblock %}
{% block info %}{% endblock %}
