{% extends "base.html" %}


{% block main %}
<main class="main">
    <div class="main-content">
        <div class="container">
            {% block breadcrumb %}
            {% endblock %}
            <div class="row">
                <div class="col-md-6">
                    <div class="main-title">
                        <strong>Merkuha Building Company</strong>
                        <p class="title-color-text">с вами уже 10 лет!</p>
                    </div>
                </div>
                <div class="col-md-5 offset-md-1">
                    <div class="main-form">
                        <span class="content-text">Узнайте стоймость отделочного проекта или инженерных работ</span>
                        <p class="par-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolorum
                            omnis doloremque corporis adipisci? Neque vitae saepe, est consequuntur ullam qui
                            veritatis, laborum atque commodi eum sequi incidunt dignissimos.
                            Eius minima culpa magnam quasi reprehenderit assumenda impedit eos recusandae eaque,
                            laboriosam amet rem laudan.</p>
                        <div class="ml-auto">
                            <a class="btn btn-dark rounded-0 home_button" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" href="#" title="Получить консультацию">нужна консультация</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
<br>
{% block info %}
<div class="information">
    <div class="container">
        <div class="row">
            <div class="col-md-6 px-0 mt-5">
                <div class="card text-bg-dark">
                    <img class="img-opas" src="{{ inzh.photo.url }}" class="card-img">
                    <div class="card-img-overlay info_card">
                        <h5 class="card-title info_title">Инженерные коммуникации</h5>
                        <div class="col-md-4">
                            <p class="card-text info_text">Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit.
                                Pellentesque pulvinar eu dolor nec
                                vestibulum. Cras pretium turpis a pulvinar finibus. Etiam rhoncus ultrices dui vel
                                malesuada.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 px-0">
                <div class="breaking_items">
                    <div class="breaking_item">
                        <div class="breaking_name">
                            <a class="info-link" href="#">Водоснабжение и водоотведение</a>
                        </div>
                        <div class="breaking_price">
                            от 9999 руб/м<sup>2</sup>
                        </div>
                    </div>
                    <div class="breaking_item">
                        <div class="breaking_name">
                            <a class="info-link" href="#">Электрика</a>
                        </div>
                        <div class="breaking_price">
                            от 9999 руб/м<sup>2</sup>
                        </div>
                    </div>
                    <div class="breaking_item">
                        <div class="breaking_name">
                            <a class="info-link" href="#">Котельная</a>
                        </div>
                        <div class="breaking_price">
                            от 9999 руб/м<sup>2</sup>
                        </div>
                    </div>
                    <div class="breaking_item">
                        <div class="breaking_name">
                            <a class="info-link" href="#">Тёплые полы</a>
                        </div>
                        <div class="breaking_price">
                            от 9999 руб/м<sup>2</sup>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 px-0">
                <div class="breaking_items">
                    <div class="breaking_item">
                        <div class="breaking_name">
                            <a class="info-link" href="#">Настил полов</a>
                        </div>
                        <div class="breaking_price">
                            от 9999 руб/м<sup>2</sup>
                        </div>
                    </div>
                    <div class="breaking_item">
                        <div class="breaking_name">
                            <a class="info-link" href="#">Подшив потолка</a>
                        </div>
                        <div class="breaking_price">
                            от 9999 руб/м<sup>2</sup>
                        </div>
                    </div>
                    <div class="breaking_item">
                        <div class="breaking_name">
                            <a class="info-link" title="Монтаж внутренних перегородок" href="#">Монтаж внутренних перегородок</a>
                        </div>
                        <div class="breaking_price">
                            от 9999 руб/м<sup>2</sup>
                        </div>
                    </div>
                    <div class="breaking_item">
                        <div class="breaking_name">
                            <a class="info-link" href="#">Лестница в доме</a>
                        </div>
                        <div class="breaking_price">
                            от 9999 руб/м<sup>2</sup>
                        </div>
                    </div>
                    <div class="breaking_item">
                        <div class="breaking_name">
                            <a class="info-link" href="#">Декор внутренних перегородок</a>
                        </div>
                        <div class="breaking_price">
                            от 9999 руб/м<sup>2</sup>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 px-0">
                <div class="card text-bg-dark">
                    <img class="img-opas" src="{{ otdelka.photo.url }}" class="card-img">
                    <div class="card-img-overlay info_card_2">
                        <div class="col-md-4 offset-md-8">
                            <h5 class="card-title info_title">Отделка дома</h5>
                        </div>
                        <div class="col-md-4 offset-md-8">
                            <p class="card-text info_text">Lorem ipsum dolor sit amet,
                                consectetur adipiscing
                                elit. Pellentesque pulvinar eu dolor nec
                                vestibulum. Cras pretium turpis a pulvinar finibus. Etiam rhoncus ultrices dui vel
                                malesuada.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title_info">
                    <h1 class="name_work">Инженерные коммуникации</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ kotel.photo.url }}" class="card-img-top" height="564" alt="...">
                    <div class="card-body">
                        <h3 class="card-title px-3 py-3">{{ kotel.title }}</h3>
                        <p class="card-text px-3 py-3 info_text">{{ kotel.content|truncatewords:12 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ electro.photo.url }}" class="card-img-top" height="564" alt="...">
                    <div class="card-body">
                        <h3 class="card-title px-3 py-3">{{ electro.title }}</h3>
                        <p class="card-text px-3 py-3 info_text">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Tempora autem ipsam iure numquam incidunt eius.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ polpod.photo.url }}" class="card-img-top" height="564" alt="...">
                    <div class="card-body">
                        <h3 class="card-title px-3 py-3">{{ polpod.title }}</h3>
                        <p class="card-text px-3 py-3 info_text">Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Illo, voluptatum eveniet? voluptatum eveniet?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-4">
                <a class="btn btn-dark rounded-0 py-4 px-5 button_work" href="{% url 'inzh' %}">READ MORE</a>
            </div>
            <div class="col-md-12">
                <div class="title_info">
                    <h1 class="name_work">Отделочные работы</h1>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ lest.photo.url }}" class="card-img-top" height="564" alt="...">
                    <div class="card-body">
                        <h3 class="card-title px-3 py-3">{{ lest.title }}</h3>
                        <p class="card-text px-3 py-3 info_text">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Vero odio beatae placeat, labore consequuntur unde?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ potolki.photo.url }}" class="card-img-top" height="564" alt="...">
                    <div class="card-body">
                        <h3 class="card-title px-3 py-3">{{ potolki.title }}</h3>
                        <p class="card-text px-3 py-3 info_text">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Dicta ratione fuga adipisci nobis consequatur porro.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ pol.photo.url }}" class="card-img-top" height="564" alt="...">
                    <div class="card-body">
                        <h3 class="card-title px-3 py-3">{{ pol.title }}</h3>
                        <p class="card-text px-3 py-3 info_text">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Quia est facilis, eaque minima consequuntur assumenda!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 offset-md-4">
                <a class="btn btn-dark rounded-0 py-4 px-5 button_work" href="{% url 'otdelka' %}">READ MORE</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}