{% extends "base.html" %}
{% block main %}
<main class="otdelka">
  <div class="container">
    <div class="row">
      {% for item in work_otdelka %}
      <div class="col-md-12">
        <div class="card mt-5" style="border: 15px solid #212121; background-color: #212121; color: #fefefe;">
          <div class="row g-0">
            <div class="col-md-4">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{ item.photo.url }}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ item.photo_2.url }}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{ item.photo_3.url }}" class="d-block w-100" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body px-0 py-0">
                <h5 class="card-title" style="padding: 3rem 0; color: #fefefe; text-align: center; font-size: 40px;">
                  {{ item.title }}
                </h5>
                <hr style="margin-left: 13px;">
                <p class="card-text" style="padding: 3rem 3rem; line-height: 25px; font-size: 18px;">
                  {{ item.content }}
                </p>
                <p class="card-text"
                  style="font-size: 40px; color: #e65100; text-align: right; padding-right: 3rem; font-weight: 400;">
                  Стоимость - <span style="text-decoration: underline;">{{ item.price }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
{% block info %}{% endblock %}