{% extends "base.html" %}
{% block main %}
<section class="category">
    <div class="container">
        {% block breadcrumb %}
        <div class="container">
            <nav class="breadcr_pages" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="bdc_link" href="{% url 'home' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Политика конфеденциальности</li>
                </ol>
            </nav>
        </div>
        {% endblock %}
        <h1>Политика конфиденциальности</h1>
        <div class="privacy">
            <h3>1. Общие положения</h3>
            <p>1.1. Настоящая Политика в отношении обработки персональных данных (далее – Политика) составлена на
                основании и в соответствии с Федеральным законом «О персональных данных» № 152-ФЗ от 27 июля 2006 г., а
                также иными нормативно-правовыми актами Российской Федерации в области защиты и обработки персональных
                данных и действует в отношении всех персональных данных (далее – Данные), которые Организация (далее –
                Оператор, Общество) может получить от субъекта персональных данных, в том числе от субъекта персональных
                данных, являющегося стороной по гражданско-правовому договору, а также от субъекта персональных данных,
                состоящего с Оператором в отношениях, регулируемых трудовым законодательством (далее – Работник).</p>
            <p>1.2. Оператор обеспечивает защиту обрабатываемых персональных данных от несанкционированного доступа и
                разглашения, неправомерного использования или утраты в соответствии с требованиями Федерального закона
                от 27 июля 2006 г. № 152-ФЗ «О персональных данных».</p>
            <p>1.3. Изменение Политики</p>
            <p>1.3.1. Оператор имеет право вносить изменения в настоящую Политику без предварительного уведомления
                Субъектов персональных данных. При внесении изменений в заголовке Политики указывается дата последнего
                обновления редакции. Новая редакция Политики вступает в силу с момента ее размещения на сайте, если иное
                не предусмотрено новой редакцией Политики.</p>
            <h3>2. Термины и принятые сокращения</h3>
            <p><strong>Персональные данные (ПД)</strong> – любая информация, относящаяся к прямо или косвенно
                определенному или определяемому физическому лицу (субъекту персональных данных, далее - Субъект).</p>
            <p><strong>Обработка персональных данных</strong> – любое действие (операция) или совокупность действий
                (операций), совершаемых с использованием средств автоматизации или без использования таких средств с
                персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение
                (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ),
                обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
            <p><strong>Автоматизированная обработка персональных данных</strong> – обработка персональных данных с
                помощью средств вычислительной техники.</p>
            <p><strong>Информационная система персональных данных (ИСПД)</strong> – совокупность содержащихся в базах
                данных персональных данных и обеспечивающих их обработку информационных технологий и технических
                средств.</p>
            <p><strong>Персональные данные, сделанные общедоступными субъектом персональных данных</strong> – ПД, доступ
                неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе.</p>
            <p><strong>Блокирование персональных данных</strong> – временное прекращение обработки персональных данных
                (за исключением случаев, если обработка необходима для уточнения персональных данных).</p>
            <p><strong>Уничтожение персональных данных</strong> – действия, в результате которых становится невозможным
                восстановить содержание персональных данных в информационной системе персональных данных и (или) в
                результате которых уничтожаются материальные носители персональных данных.</p>
            <p><strong>Оператор</strong> – организация, самостоятельно или совместно с другими лицами организующая
                обработку персональных данных, а также определяющая цели обработки персональных данных, подлежащих
                обработке, действия (операции), совершаемые с персональными данными. Оператором является «Grand LIne»,
                расположенное по адресу: 249032, Калужская область, г. Обнинск, Киевское шоссе, 35.</p>
            <h3>3. Обработка персональных данных</h3>
            <p>3.1. Получение ПД.</p>
            <p>3.1.1. Все ПД следует получать от самого субъекта. Если ПД субъекта можно получить только у третьей
                стороны, то субъект должен быть уведомлен об этом или от него должно быть получено согласие.</p>
            <p>3.1.2. Данная политика устанавливает:</p>
            <ul>
                <li><span>Цели обработки персональных данных;</span></li>
                <li><span>Общие принципы и положения обработки персональных данных, базовый перечень действий с
                        персональными данными;</span></li>
                <li><span>Категории субъектов персональных данных;</span></li>
                <li><span>Категории персональных данных;</span></li>
                <li><span>Основные положения, касающиеся передачи персональных данных.</span></li>
            </ul>
            <p>3.1.3. Документы, содержащие ПД, создаются путем:</p>
            <ul>
                <li><span>копирования оригиналов документов (паспорт, свидетельство о регистрации по месту пребывания,
                        документ об образовании, свидетельство ИНН, пенсионное свидетельство, устав, решение о создании
                        юридического лица, учредительный договор и др.);</span></li>
                <li><span>внесения сведений в учетные формы;</span></li>
                <li><span>получения оригиналов необходимых документов (трудовая книжка, медицинское заключение,
                        характеристика и др.).</span></li>
            </ul>
            <p>3.2. Обработка ПД.</p>
            <p>3.2.1. Обработка персональных данных осуществляется:</p>
            <ul>
                <li><span>с согласия субъекта персональных данных на обработку его персональных данных;</span></li>
                <li><span>в случаях, когда обработка персональных данных необходима для осуществления и выполнения
                        возложенных законодательством РФ функций, полномочий и обязанностей;</span></li>
                <li><span>в случаях, когда осуществляется обработка персональных данных, доступ неограниченного круга
                        лиц к которым предоставлен субъектом персональных данных либо по его просьбе (далее –
                        персональные данные, сделанные общедоступными субъектом персональных данных).</span></li>
            </ul>
            <p>3.2.2. Цели обработки персональных данных:</p>
            <ul>
                <li><span>осуществление трудовых отношений;</span></li>
                <li><span>осуществление гражданско-правовых отношений;</span></li>
                <li><span>заключения с субъектом персональных данных любых договоров и их дальнейшего исполнения;</span>
                </li>
                <li><span>проведения Оператором акций, опросов, исследований;</span></li>
                <li><span>предоставления субъекту персональных данных информации о предлагаемых к продаже товаров, об
                        оказываемых Оператором услугах;</span></li>
                <li><span>информирования клиентов о предложениях по товарам и услугам Оператора;</span></li>
                <li><span>ведения кадровой работы и организации учета работников Оператора;</span></li>
                <li><span>привлечения и отбора кандидатов на работу у Оператора;</span></li>
                <li><span>формирования отчетности, в том числе для предоставления контролирующим органам;</span></li>
                <li><span>осуществления Оператором административно-хозяйственной деятельности.</span></li>
            </ul>
            <p>3.2.3. Категории субъектов персональных данных.</p>
            <p>Обрабатываются ПД следующих субъектов ПД:</p>
            <ul>
                <li><span>физические лица, являющиеся кандидатами на работу;</span></li>
                <li><span>физические лица, состоящие в трудовых отношениях с Оператором;</span></li>
                <li><span>физические лица, осуществляющие выполнение работ по оказанию услуг и заключившие с Оператором
                        договор гражданско-правового характера;</span></li>
                <li><span>физические лица, являющиеся розничными клиентами Оператора;</span></li>
                <li><span>физические лица, приобретшие или намеревающиеся приобрести товары и/или услуги
                        Оператора;</span></li>
                <li><span>физические лица, не относящиеся к Оператору, заключившие или намеревающиеся заключить с
                        Оператором договорные отношения в связи с осуществлением Оператором хозяйственной
                        деятельности;</span></li>
                <li><span>физические лица, персональные данные которых сделаны ими общедоступными, а их обработка не
                        нарушает их прав и соответствует требованиям, установленным законодательством о персональных
                        данных;</span></li>
                <li><span>иные физические лица, выразившие согласие на обработку Оператором их персональных данных или
                        физические лица, обработка ПД которых необходима Оператору для достижения целей, предусмотренных
                        международным договором Российской Федерации или законом, для осуществления и выполнения
                        возложенных законодательством Российской Федерации на Оператора функций, полномочий и
                        обязанностей.</span></li>
            </ul>
            <p>3.2.4. ПД, обрабатываемые Оператором:</p>
            <ul>
                <li><span>данные, полученные при осуществлении трудовых отношений;</span></li>
                <li><span>данные, полученные для осуществления отбора кандидатов на работу;</span></li>
                <li><span>данные, полученные при осуществлении гражданско-правовых отношений;</span></li>
                <li><span>данные, полученные от других субъектов персональных данных.</span></li>
            </ul>
            <p>3.2.5. Обработка персональных данных ведется:</p>
            <ul>
                <li><span>с использованием средств автоматизации;</span></li>
                <li><span>без использования средств автоматизации;</span></li>
                <li><span>смешанная обработка персональных данных.</span></li>
            </ul>
            <p>3.3. Базовый перечень действий с персональными данными:</p>
            <p>3.3.1. Оператор осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение (обновление,
                изменение), извлечение, использование, передачу (распространение, предоставление, доступ),
                обезличивание, блокирование, удаление и уничтожение персональных данных в соответствии с Конституцией
                РФ, законодательством о защите персональных данных, иными нормативно-правовыми актами, а также
                локальными нормативными актами в сфере защиты персональных данных.</p>
            <p>3.3.2. Доступ к обрабатываемым персональным данным предоставляется только тем Работникам Оператора,
                которым он необходим в связи с исполнением ими своих должностных обязанностей и с соблюдением принципов
                персональной ответственности.</p>
            <p>3.3.3. Хранение ПД в форме, позволяющей определить субъекта ПД, осуществляется не дольше, чем этого
                требуют цели их обработки. Хранение ПД прекращается по достижении целей обработки или в случае утраты
                необходимости в их достижении.</p>
            <p>3.3.4. Обработка персональных данных осуществляется с соблюдением конфиденциальности, под которой
                понимается обязанность не раскрывать третьим лицам и не распространять персональные данные без согласия
                Субъекта персональных данных, если иное не предусмотрено законодательством Российской Федерации.</p>
            <p>3.5. Передача ПД.</p>
            <p>3.5.1. Оператор передает ПД третьим лицам в следующих случаях:</p>
            <ul>
                <li><span>субъект выразил свое согласие на такие действия;</span></li>
                <li><span>передача предусмотрена российским или иным применимым законодательством в рамках установленной
                        законодательством процедуры.</span></li>
            </ul>
            <p>3.5.2. Перечень лиц, которым передаются ПД.</p>
            <p>Третьи лица, которым передаются ПД:</p>
            <ul>
                <li><span>лица, с которыми у Оператора заключен договор, предусматривающий порядок и условия передачи,
                        хранения и обработки персональных данных (с согласия субъекта персональных данных);</span></li>
                <li><span>пенсионный фонд РФ для учета (на законных основаниях);</span></li>
                <li><span>налоговые органы РФ (на законных основаниях);</span></li>
                <li><span>фонд социального страхования РФ (на законных основаниях);</span></li>
                <li><span>территориальный фонд обязательного медицинского страхования (на законных основаниях);</span>
                </li>
                <li><span>страховые медицинские организации по обязательному и добровольному медицинскому страхованию
                        (на законных основаниях);</span></li>
                <li><span>банки для начисления заработной платы (на основании договора);</span></li>
                <li><span>органы МВД России в случаях, установленных законодательством.</span></li>
            </ul>
            <p>4. Защита персональных данных</p>
            <p>4.1. В соответствии с требованиями нормативных документов Оператором создана система защиты персональных
                данных (СЗПД), состоящая из подсистем правовой, организационной и технической защиты.</p>
            <p>4.2. Подсистема правовой защиты представляет собой комплекс правовых, организационно-распорядительных и
                нормативных документов, обеспечивающих создание, функционирование и совершенствование СЗПД.</p>
            <p>4.3. Подсистема организационной защиты включает в себя организацию структуры управления СЗПД,
                разрешительной системы, защиты информации при работе с сотрудниками, партнерами и сторонними лицами.</p>
            <p>4.4. Подсистема технической защиты включает в себя комплекс технических, программных,
                программно-аппаратных средств, обеспечивающих защиту ПД.</p>
            <p>4.5. Основными мерами защиты ПД, используемыми Оператором, являются:</p>
            <p>4.5.1. Назначение лица, ответственного за обработку ПД, которое осуществляет организацию обработки ПД,
                обучение и инструктаж, внутренний контроль за соблюдением учреждением и его работниками требований к
                защите ПД.</p>
            <p>4.5.2. Определение актуальных угроз безопасности ПД при их обработке в ИСПД и разработка мер и
                мероприятий по защите ПД.</p>
            <p>4.5.3. Разработка политики в отношении обработки персональных данных.</p>
            <p>4.5.4. Установление правил доступа к ПД, обрабатываемым в ИСПД.</p>
            <p>4.5.5. Установление индивидуальных паролей доступа сотрудников в информационную систему в соответствии с
                их производственными обязанностями.</p>
            <p>4.5.6. Антивирусное программное обеспечение с регулярно обновляемыми базами.</p>
            <p>4.5.7. Соблюдение условий, обеспечивающих сохранность ПД и исключающих несанкционированный к ним доступ.
            </p>
            <p>4.5.8. Обнаружение фактов несанкционированного доступа к персональным данным и принятие мер.</p>
            <p>4.5.9. Восстановление ПД, модифицированных или уничтоженных вследствие несанкционированного доступа к
                ним.</p>
            <p>4.5.10. Обучение работников Оператора, непосредственно осуществляющих обработку персональных данных,
                положениям законодательства РФ о персональных данных, в том числе требованиям к защите персональных
                данных, документам, определяющим политику Оператора в отношении обработки персональных данных, локальным
                актам по вопросам обработки персональных данных.</p>
            <p>4.5.11. Осуществление внутреннего контроля и аудита.</p>
            <p>5. Основные права субъекта ПД и обязанности Оператора</p>
            <p>5.1. Основные права субъекта ПД.</p>
            <p>Субъект имеет право на доступ к его персональным данным и следующим сведениям:</p>
            <ul>
                <li><span>подтверждение факта обработки ПД Оператором;</span></li>
                <li><span>правовые основания и цели обработки ПД;</span></li>
                <li><span>цели и применяемые Оператором способы обработки ПД;</span></li>
                <li><span>наименование и место нахождения Оператора, сведения о лицах (за исключением работников
                        Оператора), которые имеют доступ к ПД или которым могут быть раскрыты ПД на основании договора с
                        Оператором или на основании федерального закона;</span></li>
                <li><span>сроки обработки персональных данных, в том числе сроки их хранения;</span></li>
                <li><span>порядок осуществления субъектом ПД прав, предусмотренных настоящим федеральным законом;</span>
                </li>
                <li><span>обращение к Оператору и направление ему запросов;</span></li>
                <li><span>обжалование действий или бездействия Оператора.</span></li>
            </ul>
            <p>5.2. Обязанности Оператора.</p>
            <p>Оператор обязан:</p>
            <ul>
                <li><span>при сборе ПД предоставить информацию об обработке ПД;</span></li>
                <li><span>в случаях если ПД были получены не от субъекта ПД, уведомить субъекта;</span></li>
                <li><span>при отказе в предоставлении ПД субъекту разъясняются последствия такого отказа;</span></li>
                <li><span>опубликовать или иным образом обеспечить неограниченный доступ к документу, определяющему его
                        политику в отношении обработки ПД, к сведениям о реализуемых требованиях к защите ПД;</span>
                </li>
                <li><span>принимать необходимые правовые, организационные и технические меры или обеспечивать их
                        принятие для защиты ПД от неправомерного или случайного доступа к ним, уничтожения, изменения,
                        блокирования, копирования, предоставления, распространения ПД, а также от иных неправомерных
                        действий в отношении ПД;</span></li>
                <li><span>давать ответы на запросы и обращения субъектов ПД, их представителей и уполномоченного органа
                        по защите прав субъектов ПД.</span></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
{% block info %}{% endblock %}