{% extends 'base.html' %}
{% include 'inc/_vac_callback.html' %}
{% block main %}
<div class="container">
    {% block breadcrumb %}
    <div class="container">
        <nav class="breadcr_pages" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="bdc_link" href="{% url 'home' %}">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Вакансии</li>
            </ol>
        </nav>
    </div>
    {% endblock %}
    <div class="card text-center modifications">
        <div class="card-header modifications_header">
            Мастер-Отделочник
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-6 modifications_card_body">
                    <h5 class="card-title modifications_title">Место работы</h5>
                    <p class="card-text modifications_text">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title modifications_title">График работы</h5>
                    <p class="card-text modifications_text">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title modifications_title">Требуемый опыт работы</h5>
                    <p class="card-text modifications_text">Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Harum consequatur
                        reprehenderit nesciunt eaque, amet corporis tenetur. Eius, voluptate molestias impedit minus
                        repudiandae sunt praesentium animi aperiam assumenda consequuntur neque error.</p>
                </div>
                <div class="col-12 offset-0 col-lg-4 offset-lg-1">
                    <h5 class="card-title modifications_price">от 70 000 руб
                    </h5>
                    <div class="ml-auto button_vacancies">
                        <a class="btn btn-dark rounded-0 py-4 px-5 modifications_text"
                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal" href="#">Хочу работать!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer modifications_footer">
            На связи с 10:00 по 20:00.
        </div>
    </div>
    <div class="card text-center modifications">
        <div class="card-header modifications_header">
            Мастер-Электрик
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-6 modifications_card_body">
                    <h5 class="card-title modifications_title">Место работы</h5>
                    <p class="card-text modifications_text">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title modifications_title">График работы</h5>
                    <p class="card-text modifications_text">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title modifications_title">Требуемый опыт работы</h5>
                    <p class="card-text modifications_text">Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Harum consequatur
                        reprehenderit nesciunt eaque, amet corporis tenetur. Eius, voluptate molestias impedit minus
                        repudiandae sunt praesentium animi aperiam assumenda consequuntur neque error.</p>
                </div>
                <div class="col-12 offset-0 col-lg-4 offset-lg-1">
                    <h5 class="card-title modifications_price">от 70 000 руб
                    </h5>
                    <div class="ml-auto button_vacancies">
                        <a class="btn btn-dark rounded-0 py-4 px-5 modifications_text"
                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal" href="#">Хочу работать!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer modifications_footer">
            На связи с 10:00 по 20:00.
        </div>
    </div>
    <div class="card text-center modifications">
        <div class="card-header modifications_header">
            Мастер-Сантехник
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-6 modifications_card_body">
                    <h5 class="card-title modifications_title">Место работы</h5>
                    <p class="card-text modifications_text">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title modifications_title">График работы</h5>
                    <p class="card-text modifications_text">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title modifications_title">Требуемый опыт работы</h5>
                    <p class="card-text modifications_text">Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Harum consequatur
                        reprehenderit nesciunt eaque, amet corporis tenetur. Eius, voluptate molestias impedit minus
                        repudiandae sunt praesentium animi aperiam assumenda consequuntur neque error.</p>
                </div>
                <div class="col-12 offset-0 col-lg-4 offset-lg-1">
                    <h5 class="card-title modifications_price">от 70 000 руб
                    </h5>
                    <div class="ml-auto button_vacancies">
                        <a class="btn btn-dark rounded-0 py-4 px-5 modifications_text"
                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal" href="#">Хочу работать!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer modifications_footer">
            На связи с 10:00 по 20:00.
        </div>
    </div>
    <div class="card text-center modifications">
        <div class="card-header modifications_header">
            Маляр
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-6 modifications_card_body">
                    <h5 class="card-title modifications_title">Место работы</h5>
                    <p class="card-text modifications_text">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title modifications_title">График работы</h5>
                    <p class="card-text modifications_text">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title modifications_title">Требуемый опыт работы</h5>
                    <p class="card-text modifications_text">Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Harum consequatur
                        reprehenderit nesciunt eaque, amet corporis tenetur. Eius, voluptate molestias impedit minus
                        repudiandae sunt praesentium animi aperiam assumenda consequuntur neque error.</p>
                </div>
                <div class="col-12 offset-0 col-lg-4 offset-lg-1">
                    <h5 class="card-title modifications_price">от 70 000 руб
                    </h5>
                    <div class="ml-auto button_vacancies">
                        <a class="btn btn-dark rounded-0 py-4 px-5 modifications_text"
                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal" href="#">Хочу работать!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer modifications_footer">
            На связи с 10:00 по 20:00.
        </div>
    </div>
    <div class="card text-center modifications">
        <div class="card-header modifications_header">
            Штукатур
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-6 modifications_card_body">
                    <h5 class="card-title modifications_title">Место работы</h5>
                    <p class="card-text modifications_text">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title modifications_title">График работы</h5>
                    <p class="card-text modifications_text">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title modifications_title">Требуемый опыт работы</h5>
                    <p class="card-text modifications_text">Lorem, ipsum dolor sit amet consectetur adipisicing
                        elit. Harum consequatur
                        reprehenderit nesciunt eaque, amet corporis tenetur. Eius, voluptate molestias impedit minus
                        repudiandae sunt praesentium animi aperiam assumenda consequuntur neque error.</p>
                </div>
                <div class="col-12 offset-0 col-lg-4 offset-lg-1">
                    <h5 class="card-title modifications_price">от 70 000 руб
                    </h5>
                    <div class="ml-auto button_vacancies">
                        <a class="btn btn-dark rounded-0 py-4 px-5 modifications_text"
                            data-bs-target="#exampleModalToggle" data-bs-toggle="modal" href="#">Хочу работать!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer modifications_footer">
            На связи с 10:00 по 20:00.
        </div>
    </div>
</div>
    {% endblock %}
    {% block info %}{% endblock %}