{% extends 'base.html' %}
{% include 'inc/_vac_callback.html' %}
{% block main %}
<div class="container">
    <div class="card text-center" style="margin: 5rem 0; border: 1px solid #212121;">
        <div class="card-header" style="font-size: 35px; color: #fefefe; font-weight: 600; background-color: #212121;">
            Мастер-Отделочник
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6" style="text-align: left; margin-left: 2.5rem; margin-bottom: 2rem;">
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">Место работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">График работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">Требуемый опыт работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum consequatur
                        reprehenderit nesciunt eaque, amet corporis tenetur. Eius, voluptate molestias impedit minus
                        repudiandae sunt praesentium animi aperiam assumenda consequuntur neque error.</p>
                </div>
                <div class="col-md-4 offset-md-1">
                    <h5 class="card-title" style="font-size: 40px; margin-top: 8rem; margin-bottom: 2rem; color: #e65100;">от 70 000 руб</h5>
                    <div class="ml-auto">
                        <a class="btn btn-dark rounded-0 py-4 px-5" data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal" href="#" style="font-size: 15px;">Хочу работать!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="border-top: 1px solid #212121;">
            На связи с 10:00 по 20:00.
        </div>
    </div>
    <div class="card text-center" style="margin: 5rem 0; border: 1px solid #212121;">
        <div class="card-header" style="font-size: 35px; color: #fefefe; font-weight: 600; background-color: #212121;">
            Мастер-Электрик
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6" style="text-align: left; margin-left: 2.5rem; margin-bottom: 2rem;">
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">Место работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">График работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">Требуемый опыт работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum consequatur
                        reprehenderit nesciunt eaque, amet corporis tenetur. Eius, voluptate molestias impedit minus
                        repudiandae sunt praesentium animi aperiam assumenda consequuntur neque error.</p>
                </div>
                <div class="col-md-4 offset-md-1">
                    <h5 class="card-title" style="font-size: 40px; margin-top: 8rem; margin-bottom: 2rem; color: #e65100;">от 70 000 руб</h5>
                    <div class="ml-auto">
                        <a class="btn btn-dark rounded-0 py-4 px-5" data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal" href="#" style="font-size: 15px;">Хочу работать!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="border-top: 1px solid #212121;">
            На связи с 10:00 по 20:00.
        </div>
    </div>
    <div class="card text-center" style="margin: 5rem 0; border: 1px solid #212121;">
        <div class="card-header" style="font-size: 35px; color: #fefefe; font-weight: 600; background-color: #212121;">
            Мастер-Сантехник
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6" style="text-align: left; margin-left: 2.5rem; margin-bottom: 2rem;">
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">Место работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">График работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">Требуемый опыт работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum consequatur
                        reprehenderit nesciunt eaque, amet corporis tenetur. Eius, voluptate molestias impedit minus
                        repudiandae sunt praesentium animi aperiam assumenda consequuntur neque error.</p>
                </div>
                <div class="col-md-4 offset-md-1">
                    <h5 class="card-title" style="font-size: 40px; margin-top: 8rem; margin-bottom: 2rem; color: #e65100;">от 70 000 руб</h5>
                    <div class="ml-auto">
                        <a class="btn btn-dark rounded-0 py-4 px-5" data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal" href="#" style="font-size: 15px;">Хочу работать!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="border-top: 1px solid #212121;">
            На связи с 10:00 по 20:00.
        </div>
    </div>
    <div class="card text-center" style="margin: 5rem 0; border: 1px solid #212121;">
        <div class="card-header" style="font-size: 35px; color: #fefefe; font-weight: 600; background-color: #212121;">
            Маляр
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6" style="text-align: left; margin-left: 2.5rem; margin-bottom: 2rem;">
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">Место работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">График работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">Требуемый опыт работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum consequatur
                        reprehenderit nesciunt eaque, amet corporis tenetur. Eius, voluptate molestias impedit minus
                        repudiandae sunt praesentium animi aperiam assumenda consequuntur neque error.</p>
                </div>
                <div class="col-md-4 offset-md-1">
                    <h5 class="card-title" style="font-size: 40px; margin-top: 8rem; margin-bottom: 2rem; color: #e65100;">от 70 000 руб</h5>
                    <div class="ml-auto">
                        <a class="btn btn-dark rounded-0 py-4 px-5" data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal" href="#" style="font-size: 15px;">Хочу работать!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="border-top: 1px solid #212121;">
            На связи с 10:00 по 20:00.
        </div>
    </div>
    <div class="card text-center" style="margin: 5rem 0; border: 1px solid #212121;">
        <div class="card-header" style="font-size: 35px; color: #fefefe; font-weight: 600; background-color: #212121;">
            Штукатур
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6" style="text-align: left; margin-left: 2.5rem; margin-bottom: 2rem;">
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">Место работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">График работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem ipsum dolor sit amet.</p>
                    <h5 class="card-title" style="margin: 2rem 0; font-size: 20px;">Требуемый опыт работы</h5>
                    <p class="card-text" style="font-size: 15px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum consequatur
                        reprehenderit nesciunt eaque, amet corporis tenetur. Eius, voluptate molestias impedit minus
                        repudiandae sunt praesentium animi aperiam assumenda consequuntur neque error.</p>
                </div>
                <div class="col-md-4 offset-md-1">
                    <h5 class="card-title" style="font-size: 40px; margin-top: 8rem; margin-bottom: 2rem; color: #e65100;">от 70 000 руб</h5>
                    <div class="ml-auto">
                        <a class="btn btn-dark rounded-0 py-4 px-5" data-bs-target="#exampleModalToggle"
                            data-bs-toggle="modal" href="#" style="font-size: 15px;">Хочу работать!</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer" style="border-top: 1px solid #212121;">
            На связи с 10:00 по 20:00.
        </div>
    </div>
</div>
{% endblock %}
{% block info %}{% endblock %}