/* Adaptive Screen */

@media screen and (min-width: 1400px) {
    .header_recv {
        margin-left: 8rem !important;
    }
}

@media screen and (max-width: 1399px) {

    .container {
        max-width: 1140px;
    }

    .contact_link {
        padding-left: 5rem;
    }

    .breaking_items {
        width: 380px;
    }

    .card-img-top {
        height: 484px!important;
    }

    .main-title {
        margin-top: 14rem!important;
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 1199px) {

    .container {
        max-width: 960px;
    }

    .contact_link {
        padding-left: 3rem;
    }
    
    .d-flex {
        justify-content: center;
    }

    .main-title {
        margin-top: 8rem!important;
        margin-left: 0!important;
    }

    .breaking_items {
        width: 320px;
        margin-left: 4rem!important;
    }

    .breaking_name {
        font-size: 20px;
    }

    .go_bottom {
        margin-top: 8rem!important;
    }

    .card-img-top {
        height: 404px!important;
    }

    .footer_block {
        margin-left: 7rem!important;
    }
    .main-form {
        width: 50rem!important;
        height: 55rem!important;
        margin-top: 5rem!important;
    }

}

@media screen and (max-width: 991px) {

    .header_recv {
        margin-top: 1.6rem!important;
    }

    .card-img-top {
        height: 500px!important;
    }
    
    .name_work {
        margin-left: 5rem;
    }
    
    .button {
        padding: 2.5rem 4.5rem !important;
        font-size: 2rem !important;
    }

    .main {
        height: 100rem !important;
    }

    .main-title {
        font-size: 5.3rem !important;
    }

    .main-form {
        width: 60rem!important;
        height: 60rem!important;
        margin-top: 5rem!important;
    }

    .content-text {
        margin-top: 3rem;
        font-size: 30px;
        padding: 10px 30px !important;
    }

    .par-text {
        font-size: 2.2rem !important;
        padding: 3rem 2rem !important;
    }

    .home_button {
        margin-top: 5rem !important;
        padding: 2rem 8rem !important;
        font-size: 3rem !important;
        font-weight: 400 !important;
    }

    .card_info {
        margin-top: 3rem;
    }

    .info_text {
        font-size: 2.3rem !important;
        line-height: 30px !important;
        margin-top: 2rem;
    }

    .info_title {
        font-size: 35px !important;
    }

    .name_work {
        font-size: 6rem !important;
    }

    .button_work {
        font-size: 3rem !important;
        margin-bottom: 4rem;
    }

    .d-none {
        display: none !important;
    }

    .header-top {
        margin-top: 0 !important;
    }

    .navbar>.container-fluid {
        flex-direction: column !important;
        justify-content: normal !important;
        align-items: normal !important;
    }

    .logo_img {
        width: 100px !important;
        height: 90px !important;
    }

    .logo_img {
        margin: 1.5rem 0 !important;
    }

    .navbar-toggler {
        height: 3.5em;
        width: 4em;
        --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.7);
        transition: 0.3s;
    }

    .navbar-toggler:hover {
        background-color: #e65100;
        border: #e65100;
    }
    
    .offcanvas-title {
        font-size: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .nav-link {
        font-size: 2rem !important;
        margin-bottom: 1.5rem;
    }

    .button {
        margin-top: 3rem !important;
        margin-left: 5.7rem !important;
    }

    .breaking_items {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 767px) {

    

}