.modal-title {
    margin-top: 0;
}
.modal-close img{
    width: 20px;
    opacity: 0.4;
    justify-content: flex-end;
}
.sp_color {
    color: #e65100;
}
.modal-content {
    padding: 2rem;
}
.modal-header {
    margin: 0;
}
.form-control {
    font-size: 17px;
}
.politic {
    text-align: center;
    margin-top: 1.5rem;
}
.politic_link {
    color: #e65100;
}