/* Adaptive Screen */

@media screen and (min-width: 1400px) {
    /* Home Page */
    .header_recv {
        margin-left: 9rem !important;
    }

    .home_button {
        margin-top: 1.5rem !important;
    }

    .photo_info {
        height: 560px !important;
    }
    /* House Page */
    .house_img {
        height: 540px !important;
    }
    /* Work Item Page */
    .height_photo_house {
        height: 750px !important;
    }
}

@media screen and (max-width: 1399px) {
    /* Home Page */

    .breaking_items {
        width: 380px;
    }

    .main-title {
        margin-top: 14rem!important;
        margin-left: 0 !important;
    }

    .home_button {
        margin-top: 1.5rem !important;
    }

    .photo_info {
        height: 482px !important;
    }

    /* House Page */
    .house_img {
        height: 504px !important;
    }
}

@media screen and (max-width: 1199px) {
    /* Home Page */
    .d-flex {
        justify-content: center;
    }

    

    .main-title {
        font-size: 35px !important;
        margin-top: 8rem!important;
        margin-left: 0!important;
    }

    .breaking_items {
        width: 320px;
        margin-left: 4rem!important;
    }

    .breaking_name {
        font-size: 20px;
    }

    .go_bottom {
        margin-top: 8rem!important;
    }

    .footer_1 {
        height: 33rem !important;
    }

    .footer_block {
        margin-left: 7rem!important;
    }
    .main-form {
        width: 50rem!important;
        height: 55rem!important;
        margin-top: 5rem!important;
    }
    /* Inzh and Otdelka Page */
    .content_work {
        height: 305px !important;
        margin: 0 !important;
    }

    .content_work:hover {
        transform: scale(1.06) !important;
    }

    .work_photo {
        height: 304px !important;
    }

    .content_title {
        font-size: 25px !important;
        margin-bottom: 1.5rem !important;
    }

    .content_text {
        font-size: 16px !important;
    }

    .content_price {
        padding-top: 1.5rem !important;
    }
    /* House Page */
    .house_img {
        height: 460px !important;
    }
    
    .house_category {
        height: 460px !important;
    }
    /* Work Item Page */
    .floors:hover {
        transform: scale(1.35) !important;
    }
    .height_photo_house {
        height: 600px !important;
    }
    .cat_home_text {
        margin-top: 3rem !important;
    }
}

@media screen and (max-width: 991px) {
    /* Home Page */
    .name_work {
        margin-left: 5rem;
    }

    .main {
        height: 100rem !important;
    }

    .main-title {
        font-size: 35px !important;
    }

    .main-form {
        width: 63rem!important;
        height: 63rem!important;
        margin-top: 5rem!important;
    }

    .content-text {
        margin-top: 3rem;
        font-size: 30px;
        padding: 10px 30px !important;
    }

    .par-text {
        font-size: 1.6rem !important;
        padding: 2rem 2rem !important;
    }

    .home_button {
        padding: 1.5rem 5rem !important;
        font-size: 3rem !important;
        font-weight: 400 !important;
    }

    .card_info {
        margin-top: 3rem;
    }

    .info_text {
        font-size: 2.3rem !important;
        line-height: 30px !important;
        padding: 2rem 2rem;
    }

    .info_title {
        font-size: 35px !important;
        padding: 2rem 2rem;
    }

    .name_work {
        font-size: 6rem !important;
    }

    .photo_info {
        height: auto !important;
    }

    .button_work {
        font-size: 3rem !important;
        margin-bottom: 4rem;
    }

    .d-none {
        display: none !important;
    }

    .header-top {
        margin-top: 0 !important;
    }

    .red_nav {
        flex-direction: column !important;
        justify-content: normal !important;
        align-items: normal !important;
    }

    .logo_img {
        margin: 2rem 0 !important;
    }

    .munu_mobail {
        height: 3.5em;
        width: 4em;
        --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.7);
        transition: 0.3s;
    }

    .munu_mobail:hover {
        background-color: #e65100;
        border: #e65100;
    }
    
    .offcanvas-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 3rem !important;
        margin-bottom: 3rem !important;
    }

    .menu-item {
        padding: 0.8rem 1rem;
        transition: 0.3s;
    }

    .menu-item:hover {
        color: white;
        background: #e65100;
    }

    .menu-link {
        transition: 0.3s;
        font-size: 2rem !important;
    }

    .menu-link:hover {
        color: white;
    }

    .breaking_items {
        margin-left: 0 !important;
    }

    .footer_1 {
        height: 57rem !important;
    }

    .footer_block {
        margin-bottom: 3rem;
        margin-left: 8rem !important;
    }

    .footer_button_text {
        font-size: 1.6rem;
        font-weight: 600;
    }

    

    /* Inzh and Otdelka Page */
    .content_work {
        height: 340px !important;
        margin: 1rem 0 !important;
    }

    .content_work:hover {
        transform: scale(1.1) !important;
    }

    .work_photo {
        height: 339px !important;
    }

    .content_title {
        font-size: 35px !important;
        margin-bottom: 2rem !important;
    }

    .content_text {
        font-size: 20px !important;
        line-height: 25px !important;
    }

    .content_price {
        padding-top: 2rem !important;
    }
    /* Contact Page */
    .about_us_button {
        width: 100% !important;
    }
    /* Work Item Page */
    .block_title {
        left: -140px !important;
    }
    .contact_header {
        margin-top: 4rem !important;
        margin-bottom: 4rem !important;
    }
    .floors:hover {
        transform: scale(1) !important;
    }
    .houses_params {
        margin-top: 5rem !important;
    }
    .house_button {
        font-size: 20px !important;
    }
    .price_item {
        margin: 6rem 0 !important;
    }
    .upper_text {
        font-size: 35px !important;
        margin-left: 0 !important;
    }
    .height_photo_house {
        height: 100% !important;
    }
    .block_house {
        padding-left: 10rem !important;
    }
}

@media screen and (max-width: 767px) {
    /* Home Page */
    .main {
        height: 115rem !important;
    }

    .main-form {
        height: 73.5rem !important;
    }

    .home_button:hover {
        transform: scale(1.03) !important;
    }

    .info_title {
        font-size: 30px !important;
        padding: 1.5rem 1.5rem !important;
    }

    .info_text {
        font-size: 18px !important;
        line-height: 25px !important;
        padding: 1rem 1.5rem !important;
    }

    .info_blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .breaking_items {
        width: 95% !important;
    }

    .breaking_item {
        justify-content: space-between;
    }

    .footer_button {
        position: relative;
        left: -23px;
        top: 5px;
    }
    /* Inzh and Otdelka Page */
    .content_work {
        height: 305px !important;
        margin: 0 !important;
    }

    .content_work:hover {
        transform: scale(1.06) !important;
    }

    .work_photo {
        height: 304px !important;
    }

    .content_title {
        font-size: 25px !important;
        margin-bottom: 1.5rem !important;
    }

    .content_text {
        font-size: 16px !important;
    }

    .content_price {
        padding-top: 1.5rem !important;
    }
    /* House Page */
    .house_img {
        height: 400px !important;
    }
    
    .house_category {
        height: 400px !important;
    }

    .house_title {
        margin-bottom: 1.5rem !important;
        margin-top: 1.5rem !important;
        margin-left: 1.5rem !important;
        font-size: 25px !important;
        font-weight: 700 !important;
    }

    .house_price {
        margin-left: 15px !important;
    }
    /* Contact Page */
    .contact_header {
        margin: 4rem 0 !important;
    }
    /* Vacancies Page */
    .button_vacancies {
        margin-bottom: 4rem;
    }

    .modifications_price {
        margin-top: 4rem !important;
    }

    .contact-caption {
        margin-top: 4rem !important;
    }
    .footer_1 {
        height: 63rem !important;
    }

    .house_button {
        width: 100% !important;
        margin-top: 5rem !important;
        margin-bottom: 2rem !important;
    }
    
}

@media screen and (max-width: 575px) {
    /* Home Page */

    .logo_img {
        height: 100% !important;
        width: 100% !important;
    }

    .main {
        height: 140rem !important;
    }

    .home_button {
        padding: 1.7rem 1.5rem !important;
        font-size: 2rem !important;
        margin-top: 0 !important;
    }

    .main-form {
       height: 93rem !important;
       width: 32rem !important;
    }

    .main-title {
        font-size: 30px !important;
    }

    .name_work {
        font-size: 3rem !important;
        margin-left: 1rem !important;
    }

    .footer_block {
        margin-left: 7rem !important;
    }

    .content-text {
        font-size: 20px !important;
    }

    .par-text {
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 18px;
        text-align: left !important;
    }

    .info_title {
        font-size: 18px !important;
        padding: 0 0 !important;
    }

    .info_text {
        position: relative;
        font-size: 13px !important;
        padding: 0 0 !important;
        line-height: 15px !important;
    }

    .breaking_items {
        width: 95%!important;
        left: 0 !important;
        margin-left: 1rem !important;
    }

    .breaking_name {
        font-size: 15px !important;
    }

    .breaking_price {
        font-size: 15px;
    }

    .breaking_item {
        justify-content: space-between;
    }

    .go_bottom {
        margin-top: 3rem !important;
    }

    .title_info {
        margin: 3rem 0 !important;
    }
    
    .button_work {
        margin-bottom: 2rem !important;
        font-size: 20px !important;
        font-weight: 500;
    }

    .info_card {
        text-align: center !important;
    }

    .info_card_2 {
        text-align: center !important;
    }

    .footer_rows {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer_1 {
        height: 90rem !important;
    }

    .photo_info {
        height: auto !important;
    }
    /* Inzh and Otdelka Page */
    .content_work {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
    }

    .content_work:hover {
        transform: scale(1.04) !important;
    }

    .work_photo {
        height: 100% !important;
    }

    .content_items {
        padding: 5px 5px !important;
    }

    .content_title {
        font-size: 18px !important;
        margin-bottom: 1rem !important;
    }

    .content_text {
        font-size: 13px !important;
        line-height: 13px !important;
    }

    .content_price {
        font-size: 18px !important;
        padding-top: 1rem !important;
    }
    /* House Page */
    
    .house_img {
        width: 100% !important;
    }
    
    .house_category {
        width: 300px !important;
    }

    .content_link_h {
        display: flex;
        justify-content: center;
    }
    /* Contact Page */
    .contact-caption {
        font-size: 30px !important;
        display: flex;
        justify-content: center;   
    }

    .contact_page_link {
        display: flex;
        justify-content: center;
    }

    /* Vacancies Page */
    .modifications_text {
        width: 90%;
    }
    .modifications_card_body {
        margin-left: 5px !important;
    }
    /* About Us Page */
    .about_as_header {
        font-size: 40px !important;
    }

    .about_us_caption {
        font-size: 30px !important;
    }

    .about_us_img {
        height: 100%;
        width: 100%;
    }
    /* Work Item Page */
    .block_house {
        padding-left: 5px !important;
    }

    .floors:hover {
        transform: scale(1) !important;
    }
    .block_title {
        left: 0 !important;
        margin: 0 !important;
    }
    .cat_home_title {
        margin-left: 0 !important;
        padding: 2rem !important;
        font-size: 35px !important;
    }
    .contact_header {
        font-size: 40px !important;
    }
    /* Politica Page */
    .category h1 {
        font-size: 30px !important;
    }
    .privacy h3 {
        font-size: 25px !important;
    }
}