<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-10" id="exampleModalToggleLabel">Перезвоним вам <span class="sp_color">в
                        течение 10 минут.</span></h1>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p class="fs-5">* - поля обязательные для заполнения</p>
                    <button class="callback_btn" title="Отправить">Отправить запрос</button>
                </form>
            </div>
        </div>
    </div>
</div>