<footer class="footer_1">
    <div class="container-lg">
        <div class="top_footer d-block d-md-flex align-items-center px-5">
            <div>
                <h2 class="top_text">Готовы поговорить о своем проекте?</h2>
                <h3 class="text_dark">Давайте начнём!</h3>
            </div>
            <div class="ml-auto">
                <a class="btn btn-dark rounded-0 py-4 px-5" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                    href="#">Свяжитесь с нами</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <div class="footer_block footer_color">
                    <a href="/">
                        <img src="{{ logo.photo.url }}" height="100" width="110">
                    </a>
                    <br>
                    © 2013-2023 «MBC»
                    <br>
                    Все права защищены.
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <div class="footer_block">
                    <h3>Компания</h3>
                    <ul class="list_unstyled">
                        <li class="footer_links-li">
                            <a class="footer_links" href="#">О нас</a>
                        </li>
                        <li class="footer_links-li">
                            <a class="footer_links" href="#">Расчет стоимости</a>
                        </li>
                        <li class="footer_links-li">
                            <a class="footer_links" href="#">Каталог проектов</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <div class="footer_block">
                    <h3>Дальнейшая информация</h3>
                    <ul class="list_unstyled">
                        <li class="footer_links-li">
                            <a class="footer_links" href="{% url 'otdelka' %}">Отделочные работы</a>
                        </li>
                        <li class="footer_links-li">
                            <a class="footer_links" href="{% url 'inzh' %}">Инженерные коммуникации</a>
                        </li>
                        <li class="footer_links-li">
                            <a class="footer_links" href="{% url 'house' %}">Дома под ключ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                <div class="footer_block">
                    <h3>Контакты</h3>
                    <ul class="list_unstyled">
                        <li class="footer_links-li">
                            <a class="footer_links" href="#">Instagram</a>
                        </li>
                        <li class="footer_links-li">
                            <a class="footer_links" href="#">Telegram</a>
                        </li>
                        <li class="footer_links-li">
                            <a class="footer_links" href="#">WhatsApp</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>